body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.container {
    position: relative;
}

#rocket {
    position: absolute;
    bottom: 0;
    width: 50px; /* Roketin boyutunu ayarlayın */
}

#launchButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
